table {
    margin: 0 auto;
}

td {
    background: linear-gradient(white, white);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.button {
    border: none;
}

.solved {
    background: linear-gradient(green, darkgreen);
    color: white;
}

.wrong {
    background: linear-gradient(#b20000, darkred);
    color: white;
}